// Login

.login-form {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ffd20d;
  color: #555;
  left: 50%;
  margin-left: -125px;
  margin-top: -172.5px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 250px;

  .line {
    background-color: #ccc;
    height: 1px;
    margin: 0 10%;
    text-align: center;
    width: 80%;
  }
  .line-text {
    background-color: white;
    color: #555;
    font-size: 15px;
    padding: 0 5px;
    position: relative;
    top: -11px;
  }
}
.fb-login, .tweet-login, .github-login, .gplus-login {
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-family: 'Pacifico', cursive;
  font-size: 1rem;
  margin: 1.5rem;
  padding: 0.75rem 1rem;
}
.fb-login {
  background-color: #3b5998;
}
.tweet-login {
  background-color: #55acee;
}
.github-login {
  background-color: #333;
}
.gplus-login {
  background-color: #d34836;
}